extends layout

block content
  h1= title
  p Welcome to #{title}

  if isAuthenticated
        a(href="/api/test")
          div.NavButton Test Endpoint!
      else
        a(href="/login")
          div.NavButton Log in
